@media screen and (max-width:468px) {

  /* HEADER-NAVIGATION */
<<<<<<< HEAD

  header {
    height: 300px;
  }



=======
>>>>>>> 9ca1a7ecfd934068165590a210f44538f4fd3e9b
  header h1 {
     font-size: 3em;
  }

  header h2 {
    font-size: 1.5em;
  }


  .item-flex {
    font-size: 1em;
  }

  /* DESCRIPCIÓN EQUIPO */

  .team_description h2 {
    font-size: 1.35em;
  }

  .main-container-about h1 {
    font-size: 1.5em;
  }

  .profile-images {
    width: 150px;
  }

  /* DESCRIPCIÓN INDIVIDUAL */
  .main-container-about h3 {
    font-size: 1.0em;
  }
  .main-container-about p {
    font-size: 0.8em;
  }
}
