
/* GENERAL PAGE */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* HEADER-NAVIGATION */

header {
  background-image: url('../img/woman-cod.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repet;
  width: 100%;
  height: 400px;
  padding: 5% 1%;
  color: white;
  text-align: center;
  font-family: poppins;
}

header h1 {
  margin-bottom: 5px;
  font-size: 5em;

}

header h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 2em;
}


h1-header,
h2-header {
  width: 100%;
}
#contenedor-flexible {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 3.125em;
  width: auto;
}

.item-flex {
  background-color: white;
  height: 3.125em;
  line-height: 3.125em;
  text-align: center;
  border-bottom: 0.063em solid #2d333a;
  width: 12.5em;
  font-size: 1.3em;  <!-- sería h3-->
}

.name-link {
  color: #2d333a;
  text-decoration: none;
}
.name-link:hover {
  background-color: lightgrey;
  text-decoration: none;
  color: #2d333a;
  display: inline-block;
  height: 3.125em;
  width: 12.5em;
}
.name-link:visited {
  color: #2d333a;
  text-decoration: none;
}


/* DESCRIPCIÓN EQUIPO */
.team_description  {
  margin: 10% 5% ;
  font-style: italic;

}

.team_description h2 {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.team_description p {
  font-size: 1.25em;
}

/* ABOUT THE COMPONENTS */
.main-container-about {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.container-about{
  max-width: 640px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-about a {
  text-decoration: none;
}

p{
  font-size: 0.90em
  text-align: center;

}

.main-container-about h1 {
  font-size: 2em;
  text-align: center;
}


.profile-images {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 40px auto;
}

h2{
  font-size: 1.5em;
  text-align: center;

}


h3 {

  color: black;
  font-size: 1.15em;
  text-align: center;
}

.icons-about{
  width: 30px;
  fill: #A63D40;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* GENERAL FOOTER */


footer {
  color: #fff;
  background-color: #2d333a;
  width: 100%;
}

.general-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.contact-info {
  padding-top: 35px;
  padding-bottom: 45px;
  font-size: 1.65em;
  font-weight: 400;
  line-height: 1.1em;
  text-transform: uppercase;
}


/* linkedin.pngAL ICONS AND LINKS*/

.social {
  margin-top: 40px;
}

.social a {
  text-decoration: none;
}

.logo_size {
  width: 13px;
  margin: 0 10px;
}

.logo_github {
  width: 18px;
  margin: 0 10px;
}

/* FOOTER BOTTOM */

footer {
  display: flex;
  flex-direction: column;
}


.contact-info {
  text-align: left;
}

.copyright {
  width: 100%;
  margin: 0;
  background-color: #262C30;
  padding-top: 30px;
  font-size: 0.8em;
  color: #f2f2f2;
  padding-left: 40px;
  padding-bottom: 30px
}
